@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root {
    --c1: #242222;
    --c2: #ffffff;
    --c3: #00b2f8;
    --c4: #27ee73;
    --yellow: #72a623;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #111;
    overflow-x: hidden;
}

.header {
    background-color: var(--yellow);
    border-bottom: 1px solid var(--c1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--c1);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--c1);
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    color: var(--c3);
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--c1);
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}

.nav-logo:hover {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--c4);
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--c3);
        width: 100%;
        border-radius: 1px;
        text-align: center;
        transition: 0.3s;
        opacity: 0.7;
        box-shadow: 0 0 5px 0 #000;
        /* box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); */
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .nav-link {
        color: var(--c1);
        font-weight: 550;
    }
    .nav-link:hover {
        color: var(--c2);
    }
}

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
    .home {
        padding: 1rem 4rem;
    }
}

@media (max-width:991px) {
    header {
        left: -120%;
    }
    #menu {
        display: block;
    }
    header.toggle {
        left: 0%;
    }
    body {
        padding: 0;
    }
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:400px) {
    header {
        width: 100vw;
    }
    .heading {
        margin: 0 3rem;
    }
    .about .row .counter .box {
        width: 100%;
    }
    .education .box-container .box {
        width: 100%;
    }
    .portfolio .box-container .box {
        width: 100%;
    }
    .contact .row form {
        margin: 3rem 0;
    }
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* home section */

.home {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    /* border:.7rem solid var(--yellow); */
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;
}

.home h1 {
    font-size: 5rem;
    color: #fff;
}

.home h1 span {
    color: var(--yellow);
}

.home p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.home a {
    font-size: 3.8rem;
    padding: 10px;
    color: var(--yellow);
    display: flex-box;
}

.home a:hover {
    font-size: 4.8rem;
    color: white;
}

.home img:hover {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--yellow);
}